<div class='card-container' *ngIf='assetService.inAddMode === true'>
  
  <form class='form'>
    <mat-form-field class='full-width'>
      <input matInput placeholder='Name' [formControl]='nameFormControl'>
    </mat-form-field>
    <mat-form-field class='full-width'>
      <input matInput placeholder='Symbol' [formControl]='symbolFormControl'>
    </mat-form-field>
  </form>

  <div class='wrapper'>
    <button mat-raised-button (click)='addAsset()' class='control-button submit-button'>
      <mat-icon>done</mat-icon>
    </button>    
    <button mat-raised-button (click)='assetService.setInAddMode(false)' class='control-button cancel-button'>
      <mat-icon>close</mat-icon>
    </button>
  </div>

</div>
